<div class="col-md-4 container p-4">
    <div class="card">
        <div class="card-body">
            <form action="/links/add" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Title" autofocus required>
                </div>

                <div class="form-group">
                    <textarea name="description" id="area" cols="12" rows="12" class="form-control" placeholder="Description" required></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-success btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>